<main>
	<%- include('../partials/donorSidebar') %>
	
	<div id="main-wrapper">
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Edit Donation</h5>
		</div>
		
		<form action="/donor/equipments/<%= equipment._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="border m-4 my-3 p-4 bg-white rounded-2 shadow">
			<div class="mb-4">
				<label for="category" class="form-label">Donation Category</label>
				<select name="equipment[category]" class="form-select" id="category" required>
					<option value="medical equipment" <%= equipment.category === "medical equipment" ? "selected" : "" %>>Medical Equipment</option>
					<option value="clothes" <%= equipment.category === "clothes" ? "selected" : "" %>>Clothes</option>
					<option value="medicine" <%= equipment.category === "medicine" ? "selected" : "" %>>Medicine</option>
				</select>
			</div>
			
			<div class="mb-4">
				<label for="itemDescription" class="form-label">Item Description</label>
				<input type="text" name="equipment[itemDescription]" class="form-control" id="itemDescription" placeholder="Describe the donated item..." value="<%= equipment.itemDescription %>" required>
			</div>
			<div class="mb-4">
                <label for="image" class="form-label">Upload Image</label>
                <% if (equipment.image) { %>
                    <img src="<%= equipment.image %>" alt="Donation Image" class="donation-image mb-3">
                <% } %>
                <input type="file" name="equipment[image]" class="form-control" id="image" accept="image/*">
            </div>
			<div class="row">
				<div class="mb-4 col-sm-6">
					<label for="quantity" class="form-label">Quantity</label>
					<input type="number" name="equipment[quantity]" class="form-control" id="quantity" placeholder="Enter quantity of equipment..." value="<%= equipment.quantity %>" required>
				</div>
				
				<div class="mb-4 col-sm-6">
					<label for="condition" class="form-label">Condition</label>
					<select name="equipment[condition]" class="form-select" id="condition" required>
						<option value="new" <%= equipment.condition === "new" ? "selected" : "" %>>New</option>
						<option value="used" <%= equipment.condition === "used" ? "selected" : "" %>>Used</option>
						<option value="gently used" <%= equipment.condition === "gently used" ? "selected" : "" %>>Gently Used</option>
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="mb-4 col-sm-8">
					<label for="address" class="form-label">Address for Pickup</label>
					<input type="text" name="equipment[address]" class="form-control" id="address" placeholder="Enter address..." value="<%= equipment.address %>" required>
				</div>
				
				<div class="mb-4 col-sm-4">
					<label for="phone" class="form-label">Phone</label>
					<input type="text" name="equipment[phone]" class="form-control" id="phone" placeholder="Enter phone..." value="<%= equipment.phone %>" required>
				</div>
			</div>
			
			<div class="mb-4">
				<label for="deliveryTime" class="form-label">Delivery Time</label>
				<input type="datetime-local" name="equipment[deliveryTime]" class="form-control" id="deliveryTime" value="<%= new Date(equipment.deliveryTime).toISOString().slice(0, 16) %>" required>
			</div>
			
			<div class="mb-4">
				<label for="msg" class="form-label">Message for Manager</label>
				<textarea name="equipment[donorToAdminMsg]" class="form-control" id="msg" placeholder="Write any message you want to send..."><%= equipment.donorToAdminMsg %></textarea>
			</div>
			
			<button type="submit" class="btn w-75 d-block m-auto mt-4">Update</button>
		</form>
	</div>
</main>
